#blog{
    padding-top:8rem;
    
}

#blog a {
    color:crimson;
    font-size:1.4rem;
}

#blog p {
    font-size:1.5rem;
}

.card{
    display: inline-block;
    margin-left:2rem;
    margin-top:1rem;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}