body {
 
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
   width: 100%;
   
   background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.7)),url(./components/one3.jpg) center no-repeat;
   background-size:cover;
   
}

html,body{
  height: 100%;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html{
  font-size:17px;
  
}


